<div class="p-4">
  <div class="container">
    <mat-card class="mat-elevation-z8">
      <mat-toolbar
        style="box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); justify-content: center;">
        <div align="center" style="text-align: right;">
          <h1 *ngIf="isAddMode">Adicionar Usuário</h1>
          <h1 *ngIf="!isAddMode">Editar Usuário</h1>
        </div>
      </mat-toolbar>
      <br><br>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-row" *ngIf="isAddMode">
            <div class="form-group col-5">
              <label>Nome</label>
              <input type="text" formControlName="nome" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }" />
              <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                <div *ngIf="f['nome'].errors['required']">Nome é obrigatório</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Sobrenome</label>
              <input type="text" formControlName="sobrenome" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['sobrenome'].errors }" />
              <div *ngIf="submitted && f['sobrenome'].errors" class="invalid-feedback">
                <div *ngIf="f['sobrenome'].errors['required']">Sobrenome é obrigatório</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">E-mail é obrigatório</div>
                <div *ngIf="f['email'].errors['email']">Insira um e-mail válido.</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Data nascimento</label>
              <input type="date" formControlName="dataNascimento" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['dataNascimento'].errors }" />
              <div *ngIf="submitted && f['dataNascimento'].errors" class="invalid-feedback">
                <div *ngIf="f['dataNascimento'].errors['required']">Sobrenome é obrigatório</div>
              </div>
            </div>


            <div class="form-group col-5">
              <label>Escolaridade</label>
              <select formControlName="escolaridadeId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['escolaridadeId'].errors }">
                <option disabled value="">Escolha uma opção</option>
                <option value="1">Infantil</option>
                <option value="2">Fundamental</option>
                <option value="3">Médio</option>
                <option value="4">Superior</option>
              </select>
              <div *ngIf="submitted && f['escolaridadeId'].errors" class="invalid-feedback">
                <div *ngIf="f['escolaridadeId'].errors['required']">Escolaridade é obrigatória.</div>
              </div>
            </div>
            <div class="form-group col-5">
              <label>Historico Escolar</label>
              <br />
              <input type="file"
                     name="historicoEscolar"
                     id="historicoEscolar"
                     (change)="onFileAntigoChange($event)">
              <label for="historicoEscolar">
                <span>Selecione o histórico escolar</span>
              </label>

            </div>

          </div>
          <div *ngIf="!isAddMode" class="form-row">
            <div class="form-group col-2">
              <label>Id</label>
              <input type="text" formControlName="id" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['id'].errors }" [readonly]="true" />
              <div *ngIf="submitted && f['id'].errors" class="invalid-feedback">
                <div *ngIf="f['id'].errors['required']">Id é obrigatório</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Nome</label>
              <input type="text" formControlName="nome" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['nome'].errors }" />
              <div *ngIf="submitted && f['nome'].errors" class="invalid-feedback">
                <div *ngIf="f['nome'].errors['required']">Nome é obrigatório</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Sobrenome</label>
              <input type="text" formControlName="sobrenome" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['sobrenome'].errors }" />
              <div *ngIf="submitted && f['sobrenome'].errors" class="invalid-feedback">
                <div *ngIf="f['sobrenome'].errors['required']">First Name is required</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group col-5">
              <label>Data de nascimento</label>
              <input type="date" formControlName="dataNascimento" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['dataNascimento'].errors }" />
              <div *ngIf="submitted && f['dataNascimento'].errors" class="invalid-feedback">
                <div *ngIf="f['dataNascimento'].errors['required']">Last Name is required</div>
              </div>
            </div>

            <div class="form-group col-2">
              <label>Escolaridade</label>
              <select formControlName="escolaridadeId" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['escolaridadeId'].errors }">
                <option disabled value="">Escolha uma opção</option>
                <option value="1">Infantil</option>
                <option value="2">Fundamental</option>
                <option value="3">Médio</option>
                <option value="4">Superior</option>
              </select>
              <div *ngIf="submitted && f['escolaridadeId'].errors" class="invalid-feedback">
                <div *ngIf="f['escolaridadeId'].errors['required']">Escolaridade is required</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Salvar
              </button>
            </div>
            <div class="form-group col-6">
              <button mat-raised-button color="warn" routerLink="/usuarios" class="btn btn-link">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Cancel</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
